./ApiGateway/target
./ApiGateway/target/**
./DiscoveryServer/target
./DiscoveryServer/target/**
./ProductService/target
./ProductService/target/**
.metadata
.metadata/**
AxonServer.zip
./AxonServer-4.5.10
./AxonServer-4.5.10/**
./docker_data/
./docker_data/**